:root{
    --dark: #2f2f4b;
    --light: #fff;
    --pink: #e66465;
    --purple: #9198e5;
}

* {
    background: var(--dark);
    
}

h1{
    color: var(--pink);
    text-align: center;
}

.top p{
    color: var(--light);
    text-align: center;
}

/* You need to set border sizes now so that more than one can fit in a row*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dashed-border {
    border: 2px;
    border-style: dashed;
    border-color: var(--light);
    margin: 4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    width: 25%;
    /*top, right, bottom, left*/
    margin: 4rem 2rem 4rem 2rem;
}

.title-box {
    position: relative;
    margin-top: -20px;
}

.title-box {
    border: 3px;
    border-style: solid;
    border-color: var(--light);
    border-radius: 10px;
    margin: -2rem 0 1.5rem 0;
    padding: 20px;
    color: var(--pink);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.dashed-border .title-box {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
                          
.dashed-border:hover,
.dashed-border:hover .title-box {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 
    0 0 15px rgba(232, 102, 236, 1);
}
   
.dashed-border p {
    color: var(--pink);
}

.color-box {
    background: linear-gradient(var(--pink), var(--purple));
    border-radius: 10px;
    text-align: left;
    /*This stops text from flying out of the border and creates a scroll bar*/
    overflow: auto;
}

@media screen and (max-width: 992px) {

    .dashed-border {
        width: 25%;
    }
    
    .title-box {
        width: 50%
    }

}

@media screen and (max-width: 991px) { 
    .dashed-border {
        width: 40%;
      /*top, right, bottom, left*/
        margin: 4rem 1.5rem 4rem 1.5rem;
    }
    

}

@media screen and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column
    } 

    .dashed-border {
        width: 75%;
    }
    
}
